.root {
	/*width: 90%;*/
	/*margin: 0 auto 10px;*/
  overflow: hidden;
	background: #fff;
	min-height: 100px;
  border-bottom: 1px solid;
  border-color: #e3e3e3;
	transition: 0.15s;
}


.root:hover {
	background: #f7f7f7;
}

.unread {
  overflow: hidden;
  background: #fff;
  min-height: 100px;
  border-bottom: 1px solid;
  border-color: #e3e3e3;
  transition: 0.15s;
  font-weight: 600;
}

.name {
	padding: 5px 10px;
  padding-bottom: 0px;
	/*border-bottom: 1px solid #dbdbdb;*/
	white-space: normal;
	word-break: break-all;
	word-wrap: break-world;
}

.container {
	padding: 10px;
  padding-top: 0;
}

.avatar {
	width: 70px;
	float: left;
	margin-bottom: 5px;
}

.avatar img {
	width: 50px;
	height: 50px;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	border: 1px solid $dbdbdb;
}

.content {
	white-space: normal;
  /*white-space: nowrap;*/
  /*text-overflow: ellipsis;*/
}

.content p {
  margin-top: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.author {
	font-size: 16px;
	font-weight: bolder;
}

.author p {
	margin: 5px 0;
}
