.root {
	/*width: 90%;*/
	/*margin: 0 auto 10px;*/
  overflow: hidden;
	background: #fff;
	min-height: 100px;
  border-bottom: 1px solid;
  border-color: #e3e3e3;
	transition: 0.15s;
}


.root:hover {
	background: #f7f7f7;
}

.root:hover .emailButtons {
  opacity: 1;
}

.root:hover .name {
  overflow: hidden;
}

.unread {
  overflow: hidden;
  background: #fff;
  min-height: 100px;
  border-bottom: 1px solid;
  border-color: #e3e3e3;
  transition: 0.15s;
  font-weight: 600;
}

.unread:hover {
  background: #f7f7f7;
}

.unread:hover .emailButtons {
  opacity: 1;
}

.unread:hover .name {
  overflow: hidden;
}

.name {
	padding: 5px 10px;
  padding-bottom: 0px;
  float: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.container {
	padding: 10px;
  padding-top: 0;
}

.avatar {
	width: 70px;
	float: left;
	margin-bottom: 5px;
}

.avatar img {
	width: 50px;
	height: 50px;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	border: 1px solid $dbdbdb;
}

.content {
	white-space: normal;
  /*white-space: nowrap;*/
  /*text-overflow: ellipsis;*/
}

.content p {
  margin-top: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 0;
}

.author {
	font-size: 16px;
	font-weight: bolder;
}

.author p {
	margin: 5px 0;
}

.emailButtons {
  opacity: 0;
  padding: 5px 10px;
  float: right;
  position: absolute;
  right: 0;
}

.emailButtons a {
  color: inherit !important;
  cursor: pointer;
  z-index: 10;
}

.emailButtons i {
  padding-right: 10px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.emailButtons i:hover {
  opacity: 0.7;
}

.emailHead {
  position: relative;
}

.emailHead::after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}
